<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.xinyiread.dao.WriterDAO">  
	
    <resultMap type="Writer" id="writerResultMap">
        <id column="wid" property="id" />
        <result column="w_pen_name" property="penName" />
        <result column="w_contact" property="contact" />
        <result column="w_intro" property="intro" />
        <result column="w_current_project" property="currentProject" />
        <result column="w_like_count" property="likeCount" />
        <association column="uid" property="user" javaType="User">
            <id column="uid" property="id" />
            <result column="u_name" property="name" />
	        <result column="u_password" property="password" />
	        <result column="u_portrait" property="portrait" />
	        <result column="u_email" property="email" />
	        <result column="u_is_email_show" property="isEmailShow" />
	        <result column="u_join_date" property="joinDate" />
	        <result column="u_last_login_date" property="lastLoginDate" />
        </association>
    </resultMap>
    
    <insert id="insert" parameterType="Writer" keyProperty="id" useGeneratedKeys="true">
        INSERT INTO writer(uid,w_pen_name,w_contact,w_intro,w_current_project,w_like_count)
        VALUES (#{user.uid},#{penName},#{contact},#{intro},#{currentProject},#{likeCount})
    </insert>
    
    <select id="getWriterList" resultMap="writerResultMap">
		SELECT writer.*, user.* 
		FROM writer, user
		WHERE user.uid=writer.uid
    </select>
    
    <select id="getWriterByUser" parameterType="User" resultMap="writerResultMap">
        SELECT writer.*, user.* 
		FROM writer, user
		WHERE user.uid=writer.uid
        	AND writer.uid=#{id}
    </select>
    
    <select id="getWriterByPenName" parameterType="java.lang.String" resultMap="writerResultMap">
        SELECT writer.*, user.* 
		FROM writer, user
		WHERE user.uid=writer.uid
        	AND writer.w_pen_name=#{penName}
    </select>
    
</mapper>