body {
	background-color: #f1f1f1;
	min-width: 1280px;
}
#main {
	margin: auto;
	width: 45%;
	background-color: #fff;
	font-size: 17px;
}
h1 {
	text-align: center;
}
.info {
	text-align: center;
}
.info span {
	display: inline-block;
	margin-left: 10px;
}
.content p {
	text-indent: 2em;
}
.content {
	padding: 2em 3em;
}
.tags {
	margin-left: 50px;
}
.tags .item {
	display: inline-block;
	margin: 2px 7px;
	padding: 5px 7px;
	background-color: #ccc;
	border: 1px solid #808080;
}
.tags .item a {
	text-decoration: none;
	color: #333;
	font-size: 15px;
	font-weight: bold;
}
.rating {
	width: 45%;
	margin: auto;
	margin-top: 50px;
	padding: 20px;
	background-color: #fff;
}
.rating button {
	padding: 5px;
}
.comment {
	width: 45%;
	margin: auto;
	margin-top: 50px;
	padding: 15px;
}
.empty-comment {
	padding: 0 0 10px 10px;
	margin-bottom: 20px;
}
.comment-list {
	margin-bottom: 40px;
}
.comment-list .item {
	margin-top: 15px;
	padding: 5px;
	width: 80%;
	display: inline-block;
	border: 0 solid #ccc;
}
.comment-list .item img {
	width: 50px;
	height: 50px;
}
.comment-list .item .username {
	color: #333;
	cursor: default;
}
.comment-list .item .submit-date {
	color: #777;
	font-style: italic;
}
.comment-list .report-comment {
	width: 15%;
	float: right;
	margin-top: 30px;
	margin-right: 10px;
}
.comment-list .report-comment a {
	color: #c0c0c0;
}
.comment-mask {
	background-color: #eee;
	text-align: center;
	padding: 35px 0;
}
.submit-block {
	margin-top: 20px;
	float: right;
}
.submit-block #warning-message {
	display: none;
	margin-right: 20px;
}
#anonymous-option {
	display: inline-block;
}
#anonymous-option span {
	display: none;
	cursor: pointer;
}
#anonymous-option span.yep {
	display: inline-block;
}