body {
	/* background-color: #e4f2f7; */
}
#main {
	margin: auto;
	width: 85%;
}
.head-marker {
	background-color: #c8c8c8;
	font-size: 19px;
	font-weight: bold;
	margin-bottom: 10px;
	padding: 10px;
}
#categories {
	width: 18%;
	float: left;
	padding: 30px;
	background-color: #f5deb3;
	border: 2px #ff6a00 solid;
	border-radius: 15px;
}
#categories .item {
	width: 33%;
	display: block;
	float: left;
	text-align: center;
	font-size: 20px;
	line-height: 45px;
}
#categories .item a {
	color: #ff5c00;
	padding: 5px;
}
#categories .item a:hover {
	color: #fff;
	background-color: #ff5c00;
}
#article-list {
	width: 50%;
	margin: 0 20px 0 20px;
	padding: 30px;
	float: left;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	border: 2px #f1f1f1 solid;
	border-radius: 10px 0;
}
#article-list .item {
	font-size: 18px;
	line-height: 35px;
}
#article-list .item a:link {
	color: #ff5c00;
}
#article-list .item a:visited {
	color: #333;
}
#article-list .item a:hover {
	color: #428bca;
}
#article-list .item a:active {
	color: #fff;
	background-color: #ff5c00;
}
#article-list .item a {
	text-decoration: none;
}
#special {
	background-color: red;
	height: 200px;
	width: 28%;
	float: left;
}