body {
	margin: 0;
	background-image: url(login-page-background.jpg);
	background-size: 100%;
}
#form-container {
	width: 540px;
	position: absolute;
	top: 20%;
	left: 30%;
	background-color: #fff;
	border: 1px solid #ccc;
}
#form-container .input-group {
	margin: 25px 20px;
}
#form-container .input-group span {
	width: 120px;
}
#form-container .input-group input {
	width: 380px;
}
.check-option {
	margin-left: 20px;
}
#form-container #login-button {
	margin: 20px;
}
#form-container a {
	float: right;
	margin-right: 30px;
}