.nav>li.disabled>a {
	color: #ccc;
}
#menu-nav {
	margin-left: 410px;
}
#menu-nav ul {
	font-size: 18px;
}
#menu-nav li {
	margin-right: 10px;
}
#container {
	width: 1500px;
}
#submenu-nav {
	width: 150px;
	float: left;
	margin: 70px 100px 0 250px;
}
#submenu-nav ul {
	display: none;
}
#main-content {
	width: 1000px;
	float: left;
	margin-top: 70px;
}
.edit-property {
	text-align: center;
}